<nav class="nav">
  <div class="container">
    <h1 class="logo"><a routerLink="/home">Neo Barbería</a></h1>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav-menu">
      <li><a routerLink="/home" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">NEO</a></li>
      <li><a routerLink="/about" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">Nosotros</a></li>
      <li><a routerLink="/services" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">Servicios</a></li>
      <li><a routerLink="/contact" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">Contacto</a></li>
      <li><a routerLink="/faq" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">FAQs</a></li>
    </ul>
  </div>
</nav>
